@import url(./lead__title.css);
@import url(./lead__subtitle.css);
@import url(./lead__image-container.css);
@import url(./lead__image.css);
@import url(./lead__caption.css);

.lead {
	display: flex;
	flex-direction: column;
	align-items: center;
}
