.lead__title {
	color: #fff;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	width: 720px;
	text-align: center;
	padding: 55px 0 33px;
}

@media (max-width: 1024px) {
	.lead__title {
		padding: 48px 0 32px;
	}
}

@media (max-width: 720px) {
	.lead__title {
		width: 288px;
		font-size: 40px;
		line-height: 44px;
		padding: 27px 0 16px;
	}
}
