@import url(./intro__title.css);
@import url(./intro__text.css);
@import url(./intro__list.css);
@import url(./intro__list-item.css);

.intro {
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	align-content: flex-start;
	max-width: 984px;
	width: 100%;
	box-sizing: border-box;
}

@media (max-width: 1200px) {
	.intro {
		max-width: 928px;
	}
}

@media (max-width: 960px) {
	.intro {
		padding: 88px 24px 0;
	}
}

@media (max-width: 752px) {
	.intro {
		padding: 78px 16px 0;
	}
}
