.cover__subtitle {
	width: 360px;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

@media (max-width: 600px) {
	.cover__subtitle {
		width: 288px;
		font-size: 14px;
		line-height: 16px;
	}
}
